.App {
  height: 100vh !important ;
  width: 100% !important ;
  display: flex !important ;
  flex-direction: column !important ;
  justify-content: center !important ;
  align-items: flex-end !important ;
  background-repeat: no-repeat !important ;
  background-image: url("./background.jpg") !important ;
  background-size: cover !important ;
}

.wrappersignin {
  display: flex !important ;
  justify-content: center !important ;
  align-items: center !important ;
  flex-direction: column !important ;
  padding: 20px 40px !important ;
  border-radius: 10px !important ;
  box-shadow: 0px 10px 50px #555 !important ;
  background-color: #ffffff !important ;
  margin-right: 8% !important ;
}

.con-input {
  background: rgb(242, 243, 247) !important ;
  display: flex !important ;
  align-items: center !important ;
  justify-content: center !important ;
  padding: 5px !important ;
  border-radius: 12px !important ;
  position: relative !important ;
  width: 300px !important ;
  height: 7% !important ;
  margin: 10px !important ;
  text-decoration: none !important ;
}

.invalid {
  background: rgb(242, 243, 247) !important ;
  display: flex !important ;
  align-items: center !important ;
  justify-content: center !important ;
  padding: 5px !important ;
  border-radius: 12px !important ;
  position: relative !important ;
  width: 300px !important ;
  height: 7% !important ;
  margin: 10px !important ;
}

.invalid input {
  border: 2px !important ;
  background: transparent !important ;
  border-color: red !important ;
  font-size: 1rem !important ;
  font-family: "Poppins", sans-serif !important ;
  margin-left: 8px !important ;
  width: 260px !important ;
  transition: all 0.25s ease !important ;
}

.invalid input:focus {
  padding-left: 5px !important ;
  padding-right: 0px !important ;
}

.invalid input:focus ~ .bg {
  border: 1px solid red !important ;
}

.invalid input:focus ~ i {
  transform: translate(0, -8px) !important ;
  box-shadow: 0px, 8px, 20px, 0px rgba(0, 0, 0, 15) !important ;
}

.invalid i.icon {
  order: -1 !important ;
  background: red !important ;
  border-radius: 12px !important ;
  display: flex !important ;
  align-items: center !important ;
  justify-content: center !important ;
  width: 31px !important ;
  height: 31px !important ;
  z-index: 20 !important ;
  transition: all 0.25s ease !important ;
}

.bg {
  background: transparent !important ;
  width: 100% !important ;
  height: 100% !important ;
  position: absolute !important ;
  z-index: 1 !important ;
  left: 0px !important ;
  top: 0px !important ;
  pointer-events: none !important ;
  border-radius: inherit !important ;
  box-sizing: border-box !important ;
  border: 2px solid transparent !important ;
  transition: all 0.25s ease !important ;
}

.con-input input {
  border: 0px !important ;
  background: transparent !important ;
  outline: none !important ;
  font-size: 1rem !important ;
  font-family: "Poppins", sans-serif !important ;
  margin-left: 8px !important ;
  width: 260px !important ;
  transition: all 0.25s ease !important ;
}

.con-input input:focus {
  padding-left: 5px !important ;
  padding-right: 0px !important ;
}

.con-input input:focus ~ .bg {
  border: 1px solid rgb(64, 154, 228) !important ;
}

.con-input input:focus ~ i {
  transform: translate(0, -8px) !important ;
  box-shadow: 0px, 8px, 20px, 0px rgba(0, 0, 0, 15) !important ;
}

.con-input i.icon {
  order: -1 !important ;
  background: white !important ;
  border-radius: 12px !important ;
  display: flex !important ;
  align-items: center !important ;
  justify-content: center !important ;
  width: 31px !important ;
  height: 31px !important ;
  z-index: 20 !important ;
  transition: all 0.25s ease !important ;
}

.bg {
  background: transparent !important ;
  width: 100% !important ;
  height: 100% !important ;
  position: absolute !important ;
  z-index: 1 !important ;
  left: 0px !important ;
  top: 0px !important ;
  pointer-events: none !important ;
  border-radius: inherit !important ;
  box-sizing: border-box !important ;
  border: 2px solid transparent !important ;
  transition: all 0.25s ease !important ;
}

.btn {
  background: black !important ;
  color: #ffffff !important ;
  border-radius: 25px !important ;
  transition: all 0.25s ease !important ;
  width: 40% !important ;
  height: 40px !important ;
  font-family: "Poppins", sans-serif !important ;
  font-size: 1rem !important ;
  margin-top: 5% !important ;
  margin-bottom: 5% !important ;
}

.btn:hover {
  transform: translate(-12px, -12px) !important ;
}

.btn:hover:after {
  transform: translate(6px, 6px) !important ;
}

.btn:hover:before {
  transform: translate(12px, 12px) !important ;
}

.btn::after,
.btn::before {
  content: "" !important ;
  position: absolute !important ;
  opacity: 0.3 !important ;
  background: black !important ;
  border-radius: inherit !important ;
  width: 100% !important ;
  height: 100% !important ;
  left: 0px !important ;
  bottom: 0px !important ;
  z-index: -1 !important ;
  transition: all 0.25s ease !important ;
}

.afteror {
  display: flex !important ;
  position: relative !important ;
  flex: 1 !important ;
  align-items: center !important ;
  justify-content: space-around !important ;
  flex-direction: row !important ;
  margin-top: 5% !important ;
}

.new {
  color: maroon !important ;
  flex: 0 1 auto !important ;
  font-size: 0.9rem !important ;
  align-self: auto !important ;
  margin-right: 5% !important ;
  margin-left: 5% !important ;
  white-space: nowrap !important ;
  text-decoration: none !important ;
}

.new:hover {
  color: blue !important ;
  text-decoration: underline !important ;
}

.seperator {
  border-left: 1.6px solid #000 !important ;
  border-radius: 0.8px !important ;
  height: 15px !important ;
  flex: 0 1 auto !important ;
  align-self: auto !important ;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 600px) {
  .App {
    height: 100vh !important ;
    width: 100% !important ;
    display: flex !important ;
    flex-direction: column !important ;
    justify-content: center !important ;
    align-items: center !important ;
    background-repeat: no-repeat !important ;
    background-image: url("./background.jpg") !important ;
    background-size: cover !important ;
  }

  .wrapper {
    display: flex !important ;
    justify-content: center !important ;
    align-self: center !important ;
    align-items: center !important ;
    flex-direction: column !important ;
    padding: 20px 40px !important ;
    margin-right: 0px !important ;
    border-radius: 10px !important ;
    box-shadow: 0px 10px 50px #555 !important ;
    background-color: #ffffff !important ;
    width: 70% !important ;
  }

  .con-input {
    background: rgb(242, 243, 247) !important ;
    display: flex !important ;
    align-items: center !important ;
    justify-content: center !important ;
    padding: 5px !important ;
    border-radius: 12px !important ;
    position: relative !important ;
    width: 90% !important ;
    height: 11% !important ;
  }

  .con-input input {
    border: 0px !important ;
    background: transparent !important ;
    outline: none !important ;
    font-size: 1rem !important ;
    font-family: "Poppins", sans-serif !important ;
    /* margin-left: 8px !important ; */
    width: 260px !important ;
    transition: all 0.25s ease !important ;
  }

  .con-input input:focus {
    padding-left: 5px !important ;
    padding-right: 0px !important ;
  }

  .con-input input:focus ~ .bg {
    border: 0.8px solid #000000 !important ;
  }

  .con-input input:focus ~ i {
    transform: translate(0, -8px) !important ;
    box-shadow: 0px, 8px, 20px, 0px rgba(0, 0, 0, 15) !important ;
  }

  .con-input i.icon {
    order: -1 !important ;
    background: white !important ;

    border-radius: 12px !important ;
    display: flex !important ;
    align-items: center !important ;
    justify-content: center !important ;
    width: 31px !important ;
    height: 31px !important ;
    z-index: 20 !important ;
    transition: all 0.25s ease !important ;
  }

  .bg {
    background: transparent !important ;
    width: 100% !important ;
    height: 100% !important ;
    position: absolute !important ;
    z-index: 1 !important ;
    left: 0px !important ;
    top: 0px !important ;
    pointer-events: none !important ;
    border-radius: inherit !important ;
    box-sizing: border-box !important ;
    border: 2px solid transparent !important ;
    transition: all 0.25s ease !important ;
  }

  .btn {
    background: black !important ;
    color: #ffffff !important ;
    border-radius: 25px !important ;
    transition: all 0.25s ease !important ;
    width: 40% !important ;
    height: 40px !important ;
    font-family: "Poppins", sans-serif !important ;
    font-size: 1rem !important ;
    margin-top: 5% !important ;
    margin-bottom: 5% !important ;
  }

  .afteror {
    display: flex !important ;
    position: relative !important ;
    flex: 1 !important ;
    align-items: center !important ;
    justify-content: space-around !important ;
    flex-direction: row !important ;
    margin-top: 5% !important ;
  }

  .new {
    color: maroon !important ;
    flex: 0 1 auto !important ;
    font-size: 0.9rem !important ;
    align-self: auto !important ;
    /* margin-right: 5% !important ; */
    /* margin-left: 5% !important ; */
    white-space: nowrap !important ;
    text-decoration: none !important ;
  }

  .new:hover {
    color: blue !important ;
    text-decoration: underline !important ;
  }

  .seperator {
    border-left: 1.6px solid #000 !important ;
    border-radius: 0.8px !important ;
    height: 15px !important ;
    flex: 0 1 auto !important ;
    align-self: auto !important ;
  }
}
