.bp-container {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bp-title {
  width: 100%;
  height: 16vh;
  background-color: #4c4b77;
  align-items: center;
}

.bp-phase {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
}

.bp-wood {
  background: white;
  /* width: 100%; */
}

.bp-title h1 {
  color: aliceblue;
  font-size: 3.6rem;
  margin: 0;
  padding: 0.5% 0 0 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px 2px black;
}

.bp-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.bp-content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
  background-color: aliceblue;
  width: 100%;
  height: 30vh;
}

.bp-content1 img {
  margin-left: 15%;
  width: 20%;
}

.bp-content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
  background-color: #58d3e5;
  width: 100%;
  height: 30vh;
}

.bp-content2 img {
  margin-right: 22%;
  width: 20%;
}

.bp-list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: disc;
  margin-right: 15%;
}

.bp-list2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: disc;
  margin-left: 6%;
}

.bp-content li {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.bp-button {
  display: inline-block;
  appearance: none;
  border-radius: 4px;
  background: #4c4b77;
  text-align: center;
  height: 3em;
  color: #ffff;
  width: 12em;
  line-height: 3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 1%;
}

.bp-button:hover {
  display: inline-block;
  appearance: none;
  background: #4c4b77;
  text-align: center;
  height: 3em;
  color: white;
  width: 12em;
  line-height: 3em;
  box-shadow: 1px 1px 1px 1px #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 1%;
}

.bp-wood-btn {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media screen and (max-width: 1000px) {
  .bp-container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .bp-title {
    width: 100%;
    height: 10vh;
    background-color: #4c4b77;
    align-items: center;
  }

  .bp-phase {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
  }

  .bp-wood {
    background: white;
    /* width: 100%; */
  }

  .bp-title h1 {
    color: aliceblue;
    font-size: 2.6rem;
    margin: 0;
    padding: 0.5% 0 0 0;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 2px 2px 2px black;
  }

  .bp-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
  }

  .bp-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    background-color: aliceblue;
    width: 100%;
    height: auto;
  }

  .bp-content1 img {
    margin-top: 5%;
    width: 60%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .bp-content2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    background-color: #58d3e5;
    width: 100%;
    height: auto;
  }

  .bp-content2 img {
    margin-top: 5%;
    width: 60%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .bp-list1 {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: disc;
  }

  .bp-list2 {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: disc;
    margin-left: 0%;
  }

  .bp-content li {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-bottom: 2%;
  }

  .bp-button {
    display: inline-block;
    appearance: none;
    border-radius: 4px;
    background: #4c4b77;
    text-align: center;
    height: 1em;
    color: #ffff;
    width: 4em;
    line-height: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .bp-button:hover {
    display: inline-block;
    appearance: none;
    background: #4c4b77;
    text-align: center;
    height: 1em;
    color: white;
    width: 4em;
    line-height: 3em;
    box-shadow: 1px 1px 1px 1px #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .bp-wood-btn {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
