.bg-image {
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-div {
  height: 80vh;
}

.home-btn1 {
  position: absolute;
  top: 50%;
  left: 10%;
}

.home-btn2 {
  position: absolute;
  top: 50%;
  left: 21%;
}

.btn1-style {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: aliceblue;
  border: solid aliceblue 4px;
  color: black;
  transition: ease 200ms;
}

.btn1-style:hover {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: transparent;
  border: solid aliceblue 4px;
  color: aliceblue;
}

.btn2-style {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: transparent;
  border: solid aliceblue 4px;
  color: aliceblue;
  transition: ease 200ms;
}

.btn2-style:hover {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: aliceblue;
  border: solid aliceblue 4px;
  color: black;
}

.home-abtus {
  margin-left: 5%;
  margin-top: 4%;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.home-abtus-und {
  width: 115px;
  height: 8px;
  background: #58d3e6;
  margin-left: 5%;
}

.home-abtus-txt1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  font-size: 1.2rem;
}

.home-abtus-txt2 {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  font-size: 1.2rem;
}

.home-abtus-txt3 {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-abtus-btn {
  margin-left: 5%;
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: #58d3e6;
  border: solid #58d3e6 4px;
  color: aliceblue;
  font-weight: bold;
  transition: ease 200ms;
}

.home-abtus-btn:hover {
  margin-left: 5%;
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: transparent;
  border: solid #58d3e6 4px;
  color: black;
  font-weight: bold;
}

.home-brand {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4c4b77;
  margin-top: 2%;
}

.home-brand-hd {
  margin-top: 2%;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}

.home-brand-und {
  width: 115px;
  height: 5px;
  background: white;
  /* margin-left: 5%; */
}

.home-brand-pr {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: #4c4b77;
  margin-top: 4%;
}

.home-brand-pr-crd {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 27%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

.home-brand-pr-crd h3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
}

.home-brand-pr-crd div {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 1.5rem;
  background: white;
  position: relative;
  margin-bottom: 2%;
  color: white;
}

.home-brand-pr-crd span {
  color: #4c4b77;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  text-align: center;
}

.home-brand-pr-crd p {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
  margin-top: 8%;
}

.home-brand-btn {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: white;
  border: solid white 4px;
  color: #3d3d3d;
  font-weight: bold;
  margin-bottom: 5%;
  transition: ease 200ms;
}

.home-brand-btn:hover {
  border-radius: 0;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  background: transparent;
  border: solid white 4px;
  color: white;
  font-weight: bold;
  margin-bottom: 5%;
}

.home-infl-und {
  width: 115px;
  height: 5px;
  background: #3d3d3d;
  /* margin-left: 5%; */
}

.home-why-top {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-why-head {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2%;
}

.home-why {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.home-why-chld {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 24%;
  padding: 2%;
  /* margin: 2%; */
}

.home-why-chld img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  /* border-radius: 75px; */
}

.home-why-chld p {
  display: block;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  /* width: 80%; */
  font-size: 1.4rem;
  text-align: center;
}

@media (max-width: 768px) {
  .bg-image {
    /* max-width: 768px;
    max-height: 450px; */
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .bg-image-div {
    height: 80vh;
  }

  .home-abtus-txt2 {
    text-align: justify;
  }

  .home-btn1 {
    position: absolute;
    top: 45%;
    left: 10%;
  }

  .home-btn2 {
    position: absolute;
    top: 55%;
    left: 10%;
  }

  .home-brand-hd {
    margin-top: 4%;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .home-brand-und {
    width: 115px;
    height: 5px;
    margin-bottom: 5%;
    background: white;
    /* margin-left: 5%; */
  }

  .home-infl-und {
    width: 115px;
    height: 5px;
    margin-bottom: 5%;
    background: #3d3d3d;
    /* margin-left: 5%; */
  }

  .home-brand-pr {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #4c4b77;
    margin-top: 4%;
  }

  .home-brand-pr-crd {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .home-why {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
  }

  .home-why-chld {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 2%;
    /* margin: 2%; */
  }

  .home-why-chld img {
    height: 150px;
    width: 150px;
  }

  .home-why-chld p {
    display: block;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
    /* width: 80%; */
    text-align: center;
  }
}
