

.db_rect {
  
  background: #4c4a79;
  height: 17vh;
}

.db_child1 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 100%;
}

.db_child1 img {
  width: 17vh;
  height: 17vh;
  margin: 0;
  position: absolute;
  top: 8vh;
  left: 7.5%;
  z-index: 50;
}

.db_child1_child1 {
  height: 15vh;
  width: 100%;
  background: linear-gradient(to left, #58d3e5, #4c4a79);
}
.db_child2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-top: 4%;
}

.db_child2 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: aliceblue;
}

.db_child2_child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.db_child2_child1 p {
  color: aliceblue;
  font-size: 1.4rem;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
} 

 



/* .imageBackground
{
  background-image: url("https://images.pexels.com/photos/1731427/pexels-photo-1731427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
  height: 250px;
}*/
.profilePic
{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin-top: -70px;
  border: 6px solid white;
  z-index: 1;
  box-shadow: 0 0 7px;
}
.categories
{
  background-color: aliceblue;
  color: blue;
  padding: .7vw;
  border-radius: 20px;
  font-size: 0.7em;
  margin: 1vh;
} 
.profileSide
{
  background: linear-gradient(to left, #58d3e5, #4c4a79);
  height: 82.7vh;
  box-shadow: inset 0 0 5px;
}
.campaignBox
{
  height: 82.7vh;
  overflow: auto;
  padding:0px!important;
}
.campaign
{
  margin: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}
@media screen and (max-width:660px)
{
  .categories{
    width: 60%;
    margin: auto;
    margin-top: 10px;
  }
  .profileSide
  {
    height: auto;
  }
  
.campaignBox
{
  height: auto;
}
}